<section>
    <div class="banner-wrapper">
        <div class="slide-text" id="text1"><p>Follow us on Twitter!</p></div>
        <div class="slide-text" id="text2">Join our Discord server!</div>
        <div class="slide-text" id="text3">Made in Slovenia 🇸🇮</div>
    </div>
</section>
<style>
    .banner-wrapper {
        padding: 30px;
        background: {{ settings.background }};
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; /* Add this to contain the absolute positioned text divs */
    }

    .slide-text {
        position: absolute; /* Add this back to position the text at the same place */
        color: {{ settings.text_color }};
        padding: 20px;
        font-size: 20px;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(38, 38, 38, 0.58);
        opacity: 0;
        transition: opacity 0.5s ease-in-out; /* Adjust the transition effect */
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const text1 = document.getElementById('text1');
        const text2 = document.getElementById('text2');
        const text3 = document.getElementById('text3');

        // Array of text elements
        const texts = [text1, text2, text3];
        let currentIndex = 0;

        // Function to display the text
        function displayText(element) {
            element.style.opacity = '1';
        }

        // Function to hide the text
        function hideText(element) {
            element.style.opacity = '0';
        }

        // Function to handle displaying the text elements
        function displayNextText() {
            hideText(texts[currentIndex]);
            currentIndex = (currentIndex + 1) % texts.length;
            displayText(texts[currentIndex]);
        }

        // Set interval to display the next text every 3 seconds
        setInterval(displayNextText, 3000);
    });
</script>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "banner"
    }
  ]
}
{% endschema %}