<div class="cart-footer">
    <div class="subtotal">
        <p>Subtotal: {{ cart.total_price | money }}</p>
    </div>
    <div class="buttons">
        <button type="submit" name="update">Update</button>
        <button type="submit" name="checkout">Checkout</button>
    </div>
</div>
