<section class="notfound">
    <div class="notfound-in">
        <div class="text">
            <h1>Oops!</h1>
            <p>Sorry, the page you are looking for does not exist.</p>
        </div>
    </div>

</section>

<style>
    .notfound {
        background-color: rgb(226, 226, 226);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Set the height to the full viewport height */
    }

    .text {
        text-align: center;
    }

    .text h1 {
        font-size: 80px; /* Reduced the font size */
        color: #333; /* Changed the color */
    }

    .text p {
        font-size: 20px; /* Reduced the font size */
        color: #666; /* Changed the color */
    }
</style>

{% schema %}
{
  "name": "main-404",
  "settings": [],
  "presets": []
}
{% endschema %}
